body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

#gradient {
    width: 100%;
    height: 1200px;
    padding: 0px;
    margin: 0px;
}
.navbar {
    background-color: rgba(86, 71, 71, 0.81);
    color: #131313;
    border-width: 0px;
}
    .navbar li {
        color: #131313;
    }